temp
templates
ds
raw
in
out
temp.py
temp.cpp
temp.js
temp.java
Solution.java
temp.txt
raw.cpp
todo.txt
out.o
Solution.class
temptemp.cpp
temptemp
*.sublime-project
*.sublime-workspace
in.txt
out.txt
.vscode